@page "/"

<div class="homepage">
    <br/>
    <h1 style="font-size:4em"> SPORT STATS</h1>
    <h1>  BASKETBALL</h1>
    <img src="basketimg.jpg" width="91%" />
</div>

<style>
    .homepage {
        color:orange;
        text-align:center;
    }
</style>