@inject PlayerService _playerService
@inject TeamService _teamService
@inject IDialogService DialogService
@inject NavigationManager navManager

<h3>Manage Players</h3>





@code {
    public Player PlayerToEdit;


}
