@inject TeamService _teamService
@inject PlayerService _playerService
@rendermode InteractiveServer

<h3>Edit Team</h3>

<FluentSelect TOption="Team"
              Items="@Teams"
              Id="team-listbox"
              OptionValue="@(p => p.Id.ToString())"
              OptionText="@(p => p.Name)"
              @bind-SelectedOption="@teamToEdit" />

<ManageTeam SelectedTeam="teamToEdit" AvaiblePlayerList="AvaiblePlayerList"></ManageTeam>



@code {
    List<Team> Teams = new();
    Team teamToEdit = new();
    List<Player> AvaiblePlayerList = new();

    protected override async Task OnInitializedAsync()
    {
        Teams=await _teamService.GetTeams();
        AvaiblePlayerList = await _playerService.GetAvaiblePlayers();
    }
}
